/*ESTILOS PROPIOS BOOTSTRAP*/

/*CLASES INDEX*//*---------------------------------------*/
.separadoresindex {
    text-align: center;
    background-color: black;
    color: white;
    margin: 2px;
    font-size: 40px;
    font-style: italic;
}
.fraseindex {
    font-size: 25px;
    font-weight: bold ;
    text-align: center;
    background-color: lightgreen;
    margin: 10px;
}
.subvideosindex {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(149, 167, 144);
    margin-top: 15px;
}
.publicidadindex {
    justify-content: center;
}
.fondoindex {
    background-color: rgb(167, 197, 162);
}
.carruselindex {
    background-color: rgb(197, 197, 197);
    color: black;
    font-weight: bold;
    font-size: 24px;
    top: auto;
    bottom: 2%;
}
.videosindex {
    text-align: center;
}
/*ANIMACION*/
.textoanimadoi {
    animation-name: texto;
    animation-duration: 1.0s;
 }
 
    @keyframes texto {
     from {
         transform: translateX(1000px);
         opacity: 0;
     to {
  transform: translateX(0);
  opacity: 1;
     }
    }
}

/*CLASES VALORACION*//*-----------------------------------*/
.subtitulovaloracion {
    background-color: black;
    color: white;
    font-size: 30px;
    margin: 30px;
    padding: 20px;
}
.textovaloracion {
    font-style: italic;
    font-size: 25px;
    text-align: center;
    margin: 20px;
    font-weight: bolder;
}
.opcionesvaloracion {
    margin-bottom: 20%;
    margin-top: 2px;
    width: 50%;
    margin-left: 25%;
}
 /*ANIMACION*/
 .textoanimadov {
    animation-name: texto;
    animation-duration: 1.5s;
 }
 
    @keyframes texto {
     from {
         transform: translateX(1000px);
         opacity: 0;
     to {
  transform: translateX(0);
  opacity: 1;
     }
    }
 }

 /*CLASES CONTACTO*//*-----------------------------------*/
.subtitulocontacto {
    background-color: black;
    color: white;
    font-size: 30px;
    margin: 30px;
    padding: 20px;
}
.textocontacto {
    font-style: italic;
    font-size: 25px;
    text-align: center;
    margin: 20px;
    font-weight: bolder;
}
.comentariocontacto {
    margin-bottom: 20%;
    margin-top: 2px;
    width: 50%;
    margin-left: 25%;
}
.comentariocontacto2 {
    width: 50%;
    margin-left: 25%;
}
.botonescontacto {
    width: 50%;
    margin-left: 45%;
    margin-top: -10%;
}

/*CLASES NOSOTROS*//*-----------------------------------*/
.textonosotros {
    font-style: italic;
    font-size: 25px;
    text-align: center;
    margin: 20px;
    font-weight: bolder;
    width: 50%;
    text-align: left;
    margin-left: 35px;
}
.subtitulonosotros {
    background-color: black;
    color: white;
    font-size: 30px;
    margin: 30px;
    padding: 20px;
}

/*CLASES PRODUCTOS*//*-----------------------------------*/
.botonesproductos {
    text-align: right;
    padding-right: 15%;
}
.itemproductos {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(149, 167, 144); 
}
.subtituloproductos {
    background-color: black;
    color: white;
    font-size: 30px;
    margin: 30px;
    padding: 20px;
}
.textoproductos{
    font-style: italic;
    font-size: 25px;
    text-align: center;
    margin: 20px;
    font-weight: bolder;
}
.imgproductos {
    text-align: center;
}
.productosbox {
    margin-top: 5%;
    margin-bottom: 5%;
}

/*----------------REDES SOCIALES----------------------------------*/
.social-bar {
	position: fixed;
	right: 0;
	top: 35%;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 100;
}

.icon {
	color: white;
	text-decoration: none;
	padding: .7rem;
	display: flex;
	transition: all .5s;
}

.icon-facebook {
	background: #2E406E;
}

.icon-twitter {
	background: #339DC5;
}

.icon-youtube {
	background: #E83028;
}

.icon-instagram {
	background: #3F60A5;
}

.icon:first-child {
	border-radius: 1rem 0 0 0;
}

.icon:last-child {
	border-radius: 0 0 0 1rem;
}

.icon:hover {
	padding-right: 3rem;
	border-radius: 1rem 0 0 1rem;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}

/*-------------------------------------------------/*MEDIA QUERIES*//*-----------------------------------------------------------------------------------------*/
