/*(SASS I)*/

//ANIDAMIENTO
.menu_items {
    display: flex;
    list-style: none;
    margin-right: 60px;
    justify-content: space-between;
li {
    border-radius: 3px;
    margin: 0 5px;
a {
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-transform: uppercase;
    color: white;
}
}
}

/*-------------------------------------------*/

/*(SASS II)*/

/*********************************
EXTENDS Y MIXINS
**********************************/

// EXTENDS
.botonescontacto {
    width: 50%;
    margin-left: 45%;
    margin-top: -10%;
}
.botonescontacto-nuevo {
    @extend .botonescontacto;
    background-color: black;
    color: rgb(3, 180, 3);
}

// MIXINS
@mixin tamanio($anchito, $alturita) {
    width: $anchito;
    height: $alturita;
}
.videosindex{
    @include tamanio(500, 300)
}
.imgproductos {
    @include tamanio(500, 400)
}


